.shop{
    display: grid;
    grid-template-columns: 4fr 1fr;

}


.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    margin: 80px 80px;
}

.order-text{
    font-size: 40px;
}